<!DOCTYPE html>
<html>
<head>
  <title>MinorityMeal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="">

    <div class="heading">
      <h1 class="title">Minority Meal</h1>
      <p class="heading-sentence">
       - For All of Minority Meal People -
       </p>
    </div>
    <div class="navbar">
      <ul>
        <li>a</li>
        <li>i</li>
        <li>shi</li>
        <li>te</li>
        <li>ru</li>
      </ul>
    </div>

  </div>
  </header>
    <%= bootstrap_flash %>
    <%= yield %>
<!-- 
    <div class="clearfix"></div> -->
<footer>
</footer>
</body>
</html>
